etc/dtd_mashup/RSCHEAD.DTD

<!-- RSCHEAD DTD XML Version -->
<!-- Version 2 with all Unicode compliant characters in conjunction with RSC_X.ENT Nov-2001 -->
<!-- Neil Hunter -->

<!ELEMENT ARTHEAD   ( HTMLTEXT?, FULLTEXT?, PUBNAME, SERTITLE, SERCODE, ISSUEID, VOLUMENO, ISSUENO, ISSN, PII, SICI, CPYRT, LAN, ARTTYPE, ARTTITLE, SUBTITLE, AUTHORS, AUTHOR+, AFF+, ABSTRACT, KEYWORDS, FPAGE, LPAGE, PAGELEN, MSCRIPT, RECDATE, ACCDATE, PUBDATE, PUBYEAR, PUBMONTH, PUBDAY, CONTENTS ) >

<!ELEMENT ABSTRACT   ( #PCDATA | UL | BI | BO | INF | IT | SCP | SUP |  P | UGRAPHIC )*  >

<!ELEMENT ACCDATE   ( #PCDATA ) >

<!ELEMENT ADDRESS   ( #PCDATA | UL | BI | BO | INF | IT | SCP | SUP )*  >

<!ELEMENT AFF   ( ORGNAME, CITY, POSTCODE, STATE, COUNTRY, ADDRESS ) >

<!ATTLIST AFF ID ID #REQUIRED >


<!ATTLIST ARTHEAD DTD  ( rsc1 | rsc2 ) "rsc1"
                  ID ID                 #REQUIRED
                  SUPDAT ( fals | true ) "fals"  >

<!ELEMENT ARTTITLE    ( #PCDATA | NOTE | OVERBAR | UNDERBAR | UL | BI | BO | INF | IT | SCP | SUP | FRACTION )*  >

<!ELEMENT ARTTYPE   ( #PCDATA ) >

<!ELEMENT AUTHOR   ( ROLE, FNAME, SURNAME ) >

<!ATTLIST AUTHOR IDREFS CDATA #REQUIRED >

<!ELEMENT AUTHORS   ( #PCDATA | SUP )* >

<!ELEMENT BO   ( #PCDATA | OVERBAR | UNDERBAR | UL | INF | IT | SCP | SUP )*>

<!ELEMENT BI   ( #PCDATA | OVERBAR | UNDERBAR | UL | INF | SCP | SUP )*>

<!ELEMENT CITY   ( #PCDATA ) >

<!ELEMENT CONTENTS   ( #PCDATA | P | OVERBAR | UNDERBAR | UL | INF | IT | SCP | SUP )* >

<!ATTLIST CONTENTS HEIGHT NMTOKEN #IMPLIED

                   IMAGE ( fals | true ) #REQUIRED

                   WIDTH NMTOKEN #IMPLIED >

<!ELEMENT COUNTRY   ( #PCDATA ) >

<!ELEMENT CPYRT   ( #PCDATA ) >

<!ELEMENT DENOM   ( #PCDATA | UL | BI | BO | INF | IT | SCP | SUP )* >

<!ELEMENT EQUATION   (#PCDATA | UL | BI | BO | INF | IT | SCP | SUP )* >

<!ATTLIST EQUATION ID ID #REQUIRED >

<!ELEMENT FNAME   ( #PCDATA | SUP )* >

<!ELEMENT FPAGE   ( #PCDATA ) >

<!ELEMENT FRACTION   (NUMER , DENOM) >

<!ATTLIST FRACTION SHAPE (case | soli ) #REQUIRED >

<!ELEMENT FULLTEXT   ( #PCDATA ) >

<!ELEMENT HTMLTEXT   ( #PCDATA ) >

<!ELEMENT INF   ( #PCDATA | OVERBAR | UNDERBAR | UL | INF | BI | BO | IT | SCP | SUP )* >

<!ELEMENT ISSN   ( #PCDATA ) >

<!ELEMENT ISSUEID   ( #PCDATA ) >

<!ELEMENT ISSUENO   ( #PCDATA ) >

<!ELEMENT IT   ( #PCDATA | OVERBAR | UNDERBAR | UL | BO | INF | SCP | SUP )* >

<!ELEMENT KEYWORDS   ( #PCDATA | UL | BI | BO | INF | IT | SCP | SUP )* >

<!ELEMENT LAN   ( #PCDATA ) >

<!ELEMENT LPAGE   ( #PCDATA ) >

<!ELEMENT MSCRIPT   ( #PCDATA ) >

<!ELEMENT NUMER   ( #PCDATA | UL | BI | BO | INF | IT | SCP | SUP )* >

<!ELEMENT ORGNAME   ( #PCDATA | UL | BI | BO | INF | IT | SCP | SUP )* >

<!ELEMENT P   ( #PCDATA | OVERBAR | UNDERBAR | UL | BI | BO | INF | IT | SCP | SUP | UGRAPHIC | EQUATION | FRACTION )* >

<!ELEMENT NOTE   ( #PCDATA | OVERBAR | UNDERBAR | UL | BI | BO | INF | IT | SCP | SUP | UGRAPHIC | EQUATION | FRACTION )* >

<!ELEMENT PAGELEN   ( #PCDATA ) >

<!ELEMENT PII   (#PCDATA) >

<!ELEMENT POSTCODE   ( #PCDATA | SUP )* >

<!ELEMENT PUBDATE   ( #PCDATA ) >

<!ELEMENT PUBDAY   ( #PCDATA ) >

<!ELEMENT PUBMONTH   ( #PCDATA ) >

<!ELEMENT PUBNAME   ( #PCDATA ) >

<!ELEMENT PUBYEAR   ( #PCDATA ) >

<!ELEMENT RECDATE   ( #PCDATA ) >

<!ELEMENT ROLE   ( #PCDATA | UL | BI | BO | INF | IT | SCP | SUP )* >

<!ATTLIST ROLE TYPE ( corr | none ) #REQUIRED >

<!ELEMENT RSCHEAD   ( ARTHEAD+ ) >

<!ELEMENT SCP   ( #PCDATA | OVERBAR | UNDERBAR | UL | BI | BO | INF | IT | SUP )* >

<!ELEMENT SERCODE   ( #PCDATA ) >

<!ELEMENT SERTITLE   ( #PCDATA ) >

<!ELEMENT SICI   ( #PCDATA ) >

<!ELEMENT STATE   ( #PCDATA | IT )* >

<!ELEMENT SUBTITLE   ( #PCDATA | OVERBAR | UNDERBAR | UL | BI | BO | INF | IT | SCP | SUP )*  >

<!ELEMENT SUP   ( #PCDATA | OVERBAR | UNDERBAR | UL | BI | SUP | BO | INF | IT | SCP )* >

<!ELEMENT SURNAME   ( #PCDATA | SUP )* >

<!ELEMENT UL   ( #PCDATA | OVERBAR | UNDERBAR | SUP | BI | BO | INF | IT | SCP )* >

<!ELEMENT UGRAPHIC   (#PCDATA ) >

<!ATTLIST UGRAPHIC ID ID          #REQUIRED
                   POS    CDATA   #IMPLIED
                   HEIGHT NMTOKEN #IMPLIED
                   WIDTH  NMTOKEN #IMPLIED >


<!ELEMENT UNDERBAR   (#PCDATA ) >

<!ELEMENT OVERBAR   (#PCDATA ) >

<!ELEMENT VOLUMENO   ( #PCDATA ) >

<!ENTITY % RSCCharacters PUBLIC "-//RSC//RSC characters version 1.0//EN" 
"entities/rsc_x.ent" >
%RSCCharacters;
<!ENTITY % RSCSpecific SYSTEM "entities/rschead.ent" >
%RSCSpecific;
